<div class="container">
    <header>
        <img src="../../../assets/todo2.png" alt="">

        <h1>My TODO</h1>

        <h3 routerLink="/home">Vai alla home</h3>
        <h3 routerLink="/todos/add">Inserisci nuovo Todo</h3>
    </header>

    <!-- DETAIL E REMOVE-->
    <div class="page">
        <section>
            <app-todo-preview *ngFor="let todo of todosList | async" [todo]="todo" (detailEvent)="showDetail(todo)" (removeEvent)="removeTodo(todo)"></app-todo-preview>
        </section>

        <section>
            <router-outlet></router-outlet>
        </section>
    </div>